:root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --color-orange-50: #fff5ed;
    --color-orange-100: #ffe8d4;
    --color-orange-200: #ffcea9;
    --color-orange-300: #ffaa72;
    --color-orange-400: #fe7a36;
    --color-orange-500: #fd5812;
    --color-orange-600: #ee3e08;
    --color-orange-700: #c52b09;
    --color-orange-800: #9c2410;
    --color-lime-500: #B1FF84;
    --color-lime-600: #8BD466;
    --color-lime-700: #6FA350;
    --color-lime-900: #3C562B;
    --color-green-500: oklch(72.3% 0.219 149.579);
    --color-cyan-400: oklch(78.9% 0.154 211.53);
    --color-cyan-500: oklch(71.5% 0.143 215.221);
    --color-cyan-600: oklch(60.9% 0.126 221.723);
    --color-blue-500: oklch(62.3% 0.214 259.815);
    --color-blue-600: oklch(54.6% 0.245 262.881);
    --color-purple-50: #FAF5FF;
    --color-purple-100: #F3E8FF;
    --color-purple-200: #E9D5FF;
    --color-purple-300: #D7B5FD;
    --color-purple-400: #BF85FB;
    --color-purple-500: #AD63F6;
    --color-purple-600: #9135E8;
    --color-purple-700: #7C24CC;
    --color-purple-800: #6A22A7;
    --color-slate-100: oklch(96.8% 0.007 247.896);
    --color-slate-300: oklch(86.9% 0.022 252.894);
    --color-slate-400: oklch(70.4% 0.04 256.788);
    --color-slate-500: oklch(55.4% 0.046 257.417);
    --color-slate-600: oklch(44.6% 0.043 257.281);
    --color-slate-700: oklch(37.2% 0.044 257.287);
    --color-slate-800: oklch(27.9% 0.041 260.031);
    --color-slate-900: oklch(20.8% 0.042 265.755);
    --color-gray-50: #f6f7f9;
    --color-gray-100: #eceef2;
    --color-gray-200: #d5d9e2;
    --color-gray-300: #b1bbc8;
    --color-gray-400: #8695aa;
    --color-gray-500: #64748b;
    --color-gray-600: #526077;
    --color-gray-700: #434e61;
    --color-gray-800: #3a4252;
    --color-gray-900: #23272e;
    --color-black: #23272e;
    --color-white: #ffffff;
    --spacing: 0.25rem;
    --container-md: 28rem;
    --text-xs: 12px;
    --text-xs--line-height: calc(1 / 0.75);
    --text-sm: 13px;
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-base: 14px;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 18px;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 24px;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 28px;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 32px;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 36px;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 40px;
    --text-5xl--line-height: 1;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --tracking-normal: 0em;
    --leading-tight: 1.25;
    --leading-normal: 1.5;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --animate-spin: spin 1s linear infinite;
    --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --blur-sm: 8px;
    --blur-xl: 24px;
    --blur-3xl: 64px;
    --default-transition-duration: 150ms;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --font-body: "Inter", serif;
    --text-md: 16px;
    --color-dark: #000000;
    --color-primary-50: #ECF0FF;
    --color-primary-100: #DDE4FF;
    --color-primary-200: #C2CDFF;
    --color-primary-300: #9CAAFF;
    --color-primary-400: #757DFF;
    --color-primary-500: #605DFF;
    --color-primary-600: #4936F5;
    --color-primary-700: #3E2AD8;
    --color-primary-800: #3225AE;
    --color-secondary-200: #BDDCFF;
    --color-success-600: #25b003;
    --color-danger-400: #ff6d57;
    --color-danger-500: #FF4023;
    --color-warning-700: #ffa000;
    --color-warning-800: #ff8f00;
  }



  #navbar.is-sticky {
  z-index: 999;
  background-color: var(--color-white);
}

/* Dark mode */
#navbar.is-sticky:where([class=dark], [class=dark] *) {
  background-color: var(--color-dark);
}

/* LMS */
#navbar.is-sticky.lms-navbar {
  padding-block: 15px;
}
@media (width >= 48rem) {
  #navbar.is-sticky.lms-navbar {
    padding-block: 20px;
  }
}

/* Marketing */
#navbar.is-sticky.marketing-navbar {
  background-color: transparent;
  padding-block: calc(var(--spacing) * 0);
}
#navbar.is-sticky.marketing-navbar .navbar {
  --tw-shadow: 0px 4px 30px 0px rgba(146, 139, 221, 0.10);
  box-shadow: var(--tw-inset-shadow),
              var(--tw-inset-ring-shadow),
              var(--tw-ring-offset-shadow),
              var(--tw-ring-shadow),
              var(--tw-shadow);
}

/* Ecommerce */
#navbar.is-sticky.ecommerce-navbar {
  position: fixed;
  background-color: var(--color-black);
  padding-block: 15px;
}
@media (width >= 48rem) {
  #navbar.is-sticky.ecommerce-navbar {
    padding-block: 20px;
  }
}

/* Helpdesk */
#navbar.is-sticky.helpdesk-navbar {
  padding-block: 15px;
}
@media (width >= 48rem) {
  #navbar.is-sticky.helpdesk-navbar {
    padding-block: 20px;
  }
}

/* Sales */
#navbar.is-sticky.sales-navbar {
  padding-block: 15px;
  --tw-shadow: 0px 4px 30px 0px rgba(146, 139, 221, 0.10);
  box-shadow: var(--tw-inset-shadow),
              var(--tw-inset-ring-shadow),
              var(--tw-ring-offset-shadow),
              var(--tw-ring-shadow),
              var(--tw-shadow);
}
@media (width >= 48rem) {
  #navbar.is-sticky.sales-navbar {
    padding-block: 20px;
  }
}
#navbar.is-sticky.sales-navbar:where([class=dark], [class=dark] *) {
  background-color: #06201b;
}

/* SaaS */
#navbar.is-sticky.saas-navbar {
  padding-block: 0;
  --tw-shadow: 0px 4px 30px 0px rgba(146, 139, 221, 0.10);
  box-shadow: var(--tw-inset-shadow),
              var(--tw-inset-ring-shadow),
              var(--tw-ring-offset-shadow),
              var(--tw-ring-shadow),
              var(--tw-shadow);
}
#navbar.is-sticky.saas-navbar .inner-navbar {
  padding-inline: 0;
}

/* Finance */
#navbar.is-sticky.finance-navbar {
  padding-block: 15px;
  box-shadow: 0px 4px 30px 0px rgba(146, 139, 221, 0.10);
}
#navbar.is-sticky.finance-navbar .navbar-nav {
  padding: 0;
  --tw-shadow: 0 0 #0000 !important;
  box-shadow: none !important;
}

/* Analytics */
#navbar.is-sticky.analytics-navbar {
  position: sticky;
}

/* Crypto Performance */
#navbar.is-sticky.crypto-performance-navbar {
  background-color: var(--color-dark);
  padding-block: 15px;
}
