<footer class="site-footer">
<div class="pt-[60px] md:pt-[80px] lg:pt-[50px] xl:pt-[50px] lg:mb-[10px] xl:mb-[20px] relative z-[1] text-center">
            <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
                <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-[25px]">
                    <div class="lg:max-w-[250px] xl:max-w-[330px] md:col-span-2 lg:col-span-1 mx-auto">
                        <a href="pages/faq.html" class="inline-block mb-[15px] lg:mb-[85px]">
                            <img src="css/images/xtreme_logo.png" alt="logo" class="inline-block dark:hidden">
                        </a>
                        <p class="!leading-[1.5] font-light text-[#89837F] -tracking-[.2px] md:-tracking-[.3px] lg:-tracking-[.4px] text-lg md:text-[20px] lg:text-[22px] xl:text-xl">
                            Built for Agents Who Mean Business.
                        </p>
                    </div>


                    <!-----
                    <div class="ltr:lg:-ml-[35px] rtl:lg:-mr-[35px] mx-auto">
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-[25px]">
                            
                            <div>
                                <h3 class="!font-normal !text-white -tracking-[.2px] md:-tracking-[.3px] lg:-tracking-[.4px] !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !mb-[18px] md:!mb-[22px] lg:!mb-[25px]">
                                    Quick Link
                                </h3>
                                <ul class="font-medium -tracking-[0.14px]">
                                    <li class="mb-[12px] md:mb-[15px] last:mb-0">
                                        <a href="pages/faq.html"  class="text-white transition-all hover:text-orange-400">
                                            FAQ
                                        </a>
                                    </li>
                                    <li class="mb-[12px] md:mb-[15px] last:mb-0">
                                        <a href="pages/inquiry.html" class="text-white transition-all hover:text-orange-400">
                                            Inquiry
                                        </a>
                                    </li>
                                    <li class="mb-[12px] md:mb-[15px] last:mb-0">
                                        <a href="pages/inquiry-details.html" class="text-white transition-all hover:text-orange-400">
                                            Inquiry Details
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>--->
                    
                </div>
                <div class="pt-[60px] md:pt-[80px] lg:pt-[50px] xl:pt-[50px]"></div>
                <div class="text-center py-[20px] md:py-[25px] lg:py-[30px] border-t border-white/10">
                    <p class="font-medium -tracking-[0.14px]">
                        © <span class="text-[#CFD0D8] ">2026 Copyright XTREEM. All rights reserved.</span> Managed with<a href="javascript:void(0)" target="_blank" class="text-[#CFD0D8]  transition-all hover:underline">XTREEM service</a>
                    </p>
                </div>
            </div>
            <div class="absolute top-0 left-0 right-0 bottom-0 -z-[1] bg-[#050511] lg:rounded-b-[30px] lg:mx-[10px] xl:mx-[20px]"></div>
        </div>
</footer>

