        <!-- Navbar -->
        <div class="real-estate-agent-navbar fixed top-0 right-0 left-0 transition-all h-auto z-[5] py-[20px] md:py-[25px] lg:py-[30px] xl:py-[35px]" id="navbar" bis_skin_checked="1">
            <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1430px] 2xl:max-w-[1745px] mx-auto px-[12px]" bis_skin_checked="1">
                <div class="flex items-center relative flex-wrap lg:flex-nowrap justify-between lg:justify-start" bis_skin_checked="1">
                    <a href="real-estate-agent-index.html" class="inline-block w-[110px]">
                        <img src="assets/images/real-estate-agent/logo.svg" alt="logo" class="inline-block dark:hidden">
                        <img src="assets/images/real-estate-agent/white-logo.svg" alt="logo" class="hidden dark:inline-block">
                    </a>
                    <button type="button" id="navbar-burger-menu" class="inline-block relative leading-none lg:hidden">
                        <span class="h-[3px] w-[30px] my-[5px] block bg-dark dark:bg-white"></span>
                        <span class="h-[3px] w-[30px] my-[5px] block bg-dark dark:bg-white"></span>
                        <span class="h-[3px] w-[30px] my-[5px] block bg-dark dark:bg-white"></span>
                    </button>
                    <div class="hidden lg:flex items-center grow basis-full basis-auto" bis_skin_checked="1">
                        <!-- For Big Devices -->
                        <ul class="flex mx-auto flex-row bg-white/40 dark:bg-dark/40 rounded-[40px] p-[5px]">
                            <li>
                                <a href="real-estate-agent-index.html" class="text-black dark:text-white font-semibold rounded-[70px] text-base block py-[9.5px] xl:py-[11.5px] px-[20px] xl:px-[26px] transition-all hover:bg-orange-400 hover:text-white">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="real-estate-agent-about.html" class="text-black dark:text-white font-semibold rounded-[70px] text-base block py-[9.5px] xl:py-[11.5px] px-[20px] xl:px-[26px] transition-all hover:bg-orange-400 hover:text-white">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="real-estate-agent-features.html" class="text-black dark:text-white font-semibold rounded-[70px] text-base block py-[9.5px] xl:py-[11.5px] px-[20px] xl:px-[26px] transition-all hover:bg-orange-400 hover:text-white">
                                    Features
                                </a>
                            </li>
                            <li>
                                <a href="real-estate-agent-why-trezo.html" class="text-black dark:text-white font-semibold rounded-[70px] text-base block py-[9.5px] xl:py-[11.5px] px-[20px] xl:px-[26px] transition-all hover:bg-orange-400 hover:text-white">
                                    Why Trezo
                                </a>
                            </li>
                            <li>
                                <a href="real-estate-agent-pricing.html" class="text-black dark:text-white font-semibold rounded-[70px] text-base block py-[9.5px] xl:py-[11.5px] px-[20px] xl:px-[26px] transition-all hover:bg-orange-400 hover:text-white">
                                    Pricing
                                </a>
                            </li>
                            <li>
                                <a href="real-estate-agent-faq.html" class="font-semibold rounded-[70px] text-base block py-[9.5px] xl:py-[11.5px] px-[20px] xl:px-[26px] bg-orange-400 text-white">
                                    FAQ
                                </a>
                            </li>
                            <li>
                                <a href="real-estate-agent-book-a-call.html" class="text-black dark:text-white font-semibold rounded-[70px] text-base block py-[9.5px] xl:py-[11.5px] px-[20px] xl:px-[26px] transition-all hover:bg-orange-400 hover:text-white">
                                    Book A Call
                                </a>
                            </li>
                        </ul>
                        <div class="flex items-center gap-[25px] xl:gap-[40px]" bis_skin_checked="1">
                            <a href="https://trezo-twcss.envytheme.com/real-estate-agent-index.html" class="text-orange-400 font-black text-xs uppercase tracking-[1.2px] xl:tracking-[1.8px] transition-all underline underline-offset-2 hover:text-primary-500" target="_blank">
                                Log in
                            </a>
                            <div class="flex items-center gap-[10px]" bis_skin_checked="1">
                                <a href="tel:+32145678761" class="flex-none flex items-center justify-center rounded-full bg-[#221006] dark:bg-dark text-orange-400 text-lg w-[50px] h-[50px] xl:w-[54px] xl:h-[54px]">
                                    <i class="ri-phone-fill"></i>
                                </a>
                                <div class="pt-[3px] hidden xl:block" bis_skin_checked="1">
                                    <span class="block uppercase tracking-[1.8px] text-xs font-semibold mb-px">
                                        CALL US ANYTIME
                                    </span>
                                    <a href="tel:+32145678761" class="inline-block tracking-[0.18px] font-bold text-base md:text-[15px] lg:text-md xl:text-lg text-black dark:text-white transition-all hover:text-orange-400">
                                        +321 4567 8761
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white dark:bg-[#221006] rounded-[15px] border border-gray-200 dark:border-gray-900 mt-[15px] p-[20px] md:p-[30px] w-full hidden lg:!hidden" id="navbar-collapse" bis_skin_checked="1">
                        <!-- For Responsive -->
                        <ul>
                            <li class="my-[15px] md:my-[17px] first:mt-0 last:mb-0">
                                <a href="real-estate-agent-index.html" class="text-black dark:text-white font-semibold text-base block transition-all hover:text-orange-400">
                                    Home
                                </a>
                            </li>
                            <li class="my-[15px] md:my-[17px] first:mt-0 last:mb-0">
                                <a href="real-estate-agent-about.html" class="text-black dark:text-white font-semibold text-base block transition-all hover:text-orange-400">
                                    About
                                </a>
                            </li>
                            <li class="my-[15px] md:my-[17px] first:mt-0 last:mb-0">
                                <a href="real-estate-agent-features.html" class="text-black dark:text-white font-semibold text-base block transition-all hover:text-orange-400">
                                    Features
                                </a>
                            </li>
                            <li class="my-[15px] md:my-[17px] first:mt-0 last:mb-0">
                                <a href="real-estate-agent-why-trezo.html" class="text-black dark:text-white font-semibold text-base block transition-all hover:text-orange-400">
                                    Why Trezo
                                </a>
                            </li>
                            <li class="my-[15px] md:my-[17px] first:mt-0 last:mb-0">
                                <a href="real-estate-agent-pricing.html" class="text-black dark:text-white font-semibold text-base block transition-all hover:text-orange-400">
                                    Pricing
                                </a>
                            </li>
                            <li class="my-[15px] md:my-[17px] first:mt-0 last:mb-0">
                                <a href="real-estate-agent-faq.html" class="font-semibold text-base block text-orange-400">
                                    FAQ
                                </a>
                            </li>
                            <li class="my-[15px] md:my-[17px] first:mt-0 last:mb-0">
                                <a href="real-estate-agent-book-a-call.html" class="text-black dark:text-white font-semibold text-base block transition-all hover:text-orange-400">
                                    Book A Call
                                </a>
                            </li>
                        </ul>
                        <div class="sm:flex items-center gap-[25px] mt-[15px] md:mt-[17px]" bis_skin_checked="1">
                            <div class="flex items-center gap-[10px] mb-[15px] sm:mb-0" bis_skin_checked="1">
                                <div class="flex-none flex items-center justify-center rounded-full bg-[#221006] dark:bg-dark text-orange-400 text-lg w-[50px] h-[50px]" bis_skin_checked="1">
                                    <i class="ri-phone-fill"></i>
                                </div>
                                <div class="pt-[2px]" bis_skin_checked="1">
                                    <span class="block uppercase tracking-[1.8px] text-xs font-semibold mb-[3px]">
                                        CALL US ANYTIME
                                    </span>
                                    <a href="tel:+32145678761" class="inline-block tracking-[0.18px] font-bold text-base md:text-[15px] lg:text-md xl:text-lg text-black dark:text-white transition-all hover:text-orange-400">
                                        +321 4567 8761
                                    </a>
                                </div>
                            </div>
                            <a href="https://trezo-twcss.envytheme.com/real-estate-agent-index.html" class="text-orange-400 font-black text-xs uppercase tracking-[1.2px] xl:tracking-[1.8px] transition-all underline underline-offset-2 hover:text-primary-500" target="_blank">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar -->



<script>
     // Navbar Sticky
    const getNavbarID = document.getElementById("navbar");
    if (getNavbarID) {
        window.addEventListener('scroll', event => {
            const height = 150;
            const { scrollTop } = event.target.scrollingElement;
            document.querySelector('#navbar').classList.toggle('is-sticky', scrollTop >= height);
        });
    }

    // Navbar Collapse
    const getNavbarBurgerMenuID = document.getElementById("navbar-burger-menu");
    if (getNavbarBurgerMenuID) {
        const button = document.getElementById('navbar-burger-menu');
        const div = document.getElementById('navbar-collapse');
        button.addEventListener('click', function() {
            button.classList.toggle('active'); // Toggle active class on the button
            div.classList.toggle('active');    // Toggle active class on the div
        });
    }
</script>